.matBorder {border-color: #3300cc;}
.engBorder {border-color: #ff991a;}
.sciBorder {border-color: #ff6600;}
.mflBorder {border-color: #669900;}
.desBorder {border-color: #006600;}
.artBorder {border-color: #ff9c18;}
.hisBorder {border-color: #660099;}
.geoBorder {border-color: #cc6600;}
.reBorder {border-color: #ffffff;}
.ictBorder {border-color: #cc0000;}
.musBorder {border-color: #ff0099;}
.peBorder {border-color: #3399cc;}
.draBorder {border-color: black;}
.medBorder {border-color: #ff991a;}
.psyBorder {border-color: #EC68FC;}
.socBorder {border-color: #009E8D;}
.busBorder {border-color: #757403;}
.pseBorder {border-color: #339933;}
.senBorder {border-color: #5F0F53;}
.nurBorder {border-color: #3300cc;}
.recBorder {border-color: #ff991a;}
.y1Border {border-color: #ff6600;}
.y2Border {border-color: #669900;}
.y3Border {border-color: #3399cc;}
.y4Border {border-color: #ff0099;}
.y5Border {border-color: #660099;}
.y6Border {border-color: #006600;}

.matBack {background-color: #3300cc;}
.engBack {background-color: #ff991a;}
.sciBack {background-color: #ff6600;}
.mflBack {background-color: #669900;}
.desBack {background-color: #006600;}
.artBack {background-color: #ff9c18;}
.hisBack {background-color: #660099;}
.geoBack {background-color: #cc6600;}
.reBack {background-color: #aaaaaa;}
.ictBack {background-color: #cc0000;}
.musBack {background-color: #ff0099;}
.peBack {background-color: #3399cc;}
.draBack {background-color: black;}
.medBack {background-color: #ff991a;}
.psyBack {background-color: #EC68FC;}
.socBack {background-color: #009E8D;}
.busBack {background-color: #757403;}
.pseBack {background-color: #339933;}
.senBack {background-color: #5F0F53;}
.nurBack {background-color: #3300cc;}
.recBack {background-color: #ff991a;}
.y1Back {background-color: #ff6600;}
.y2Back {background-color: #669900;}
.y3Back {background-color: #3399cc;}
.y4Back {background-color: #ff0099;}
.y5Back {background-color: #660099;}
.y6Back {background-color: #006600;}