.footer {
 clear: both;
 color: #eee;
 font-size: 1.4rem;
 padding: 10px 0;
 position: relative;
 border-top: 5px solid white;
 background: #555555; /* Old browsers */
 background: -moz-linear-gradient(top,  #555555 0%, #888888 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#888888)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #555555 0%,#888888 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #555555 0%,#888888 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #555555 0%,#888888 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #555555 0%,#888888 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#888888',GradientType=0 ); /* IE6-9 */
}
.footer>.container>.row {position: relative;}
.footer-links {margin: 10px 0 20px 0;}
.footer-links a {display: inline-block;}
.footer-links img {margin: 10px 5px 0 0;}
.footer a {color: #eee;}
.footer p {margin: 0;}
.footer dl div {float: left; margin: 0 30px 10px 0;}
.footer dl ul {list-style-type: none; margin: 0; padding: 0;}
.footer-logos a {text-decoration: none;}
.footer-logos img {margin: 10px 10px 0 0;}
.footer-copyright p {border-top: 1px solid #eee; padding-top: 5px; clear: both; margin-top: 10px !important;}
.footer-copyright p span {display: block;}

@media (min-width: 768px) {
 .footer-copyright p span {float: right;}
}
@media (min-width: 992px) {
 .footer dl {float: right;}
}