.navbar ul {
    background-color: white;
}

.navbar li a {
    color: black;
}

.navbar li a:hover {
    background-color: #f2f2f2;
}


body {
    background-color: #f9f9f9;
}

a {
    color: blue;
}


.tooltip .tooltiptext {
    background-color: white;
    color: #303030;
}

.tooltip .tooltiptext::after {
    border-color: white transparent transparent transparent;
}

i.tooltip .tooltiptext {
    background-color: white;
    color: #303030;
}


form input[type=text] {
    border-bottom: 2px solid darkgray;
    background-color: white;
    color: #303030;
}

form input[type=password] {
    border-bottom: 2px solid darkgray;
    background-color: white;
    color: #303030;
}

form input[type=submit] {
    border-bottom: 2px solid darkgray;
    background-color: white;
    color: #303030;
}

footer {
    background-color: white;
}