body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.navbar ul {
    list-style-type: none;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.navbar li.login {
    float: right;
    background-color: gold;
}

.navbar li.login a {
    color: black;
}

.navbar li.login a:hover {
    background-color: #efc700;
}

.navbar li a img {
    height: 35px;
    width: 35px;
    margin: -8px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.main {
    padding: 20px;
    margin-top: 30px;
}