<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png') }}" sizes="16x16">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://kit.fontawesome.com/fd72d5dec4.js" crossorigin="anonymous"></script>

    {% if title %}
        <title>{{ title }} | Student Portal</title>
    {% else %}
        <title>Student Portal</title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% if not request.cookies.get("colours") %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    {% elif request.cookies.get("colours") == "dark" %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dark.css') }}">
    {% elif request.cookies.get("colours") == "light" %}
        <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='light.css') }}">
    {% else %}
        {{ request.cookies.delete_cookie("colours") }}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
    {% endif %}

    {% if redirect %}
        <meta http-equiv="Refresh" content="{{ redirect_time or 10 }};{{ redirect }}">
    {% endif %}
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="https://nuast.org.uk/"><img src="{{ url_for('static', filename='nuast-molecule-small.png') }}" class="logo"></a></li>

        <li><a href="{{ url_for('dashboard') }}" class="{{ request.path == '/dashboard' and 'active' }}">Dashboard</a></li>

        {% block navbar %}{% endblock %}

        {% if request.cookies.get("colours") %}
        <li></li>
        {% else %}
        <li></li>
        {% endif %}

        {% if request.path == "/login" %}
            <li class="login"><a href="{{ url_for('register') }}">Register</a></li>
        {% elif request.path == "/register" %}
            <li class="login"><a href="{{ url_for('login') }}">Sign In</a></li>
        {% else %}
            <li class="login"><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</div>

<div class="main">
    {% block content %}{% endblock %}
</div>

<div class="footer">
    {% block footer %}{% endblock %}
</div>
</body>
</html>