{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center">Welcome, {{ forename or username }}</h1>

    {% block dashboard %}{% endblock %}

    {% with messages = get_flashed_messages(category_filter=["announcement"]) %}
        {% if messages %}
            <h2>Announcements</h2>
            {% for message in messages %}
                <p>{{ message|safe }}</p>
            {% endfor %}
        {% else %}
            <h2>No Messages</h2>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block navbar_right %}

    <li><a href="{{ url_for('profile_own') }}">{{ username }}</a></li>

{% endblock %}