<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Student Portal</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="navbar">
    <a href="{{ url_for("dashboard") }}">Dashboard</a>
</div>

<div class="main">
    <strong><span style="color: red; ">{{ error }}</span></strong>
    <form>
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password">
    </form>
</div>
</body>
</html>