{% extends "base.html" %}

{% block content %}

    <h1>Password Criteria</h1>
    <p>All passwords used on this site must meet the following criteria:</p>
    <ul>
        <li>Between 10 and 72 characters</li>
        <li>At least one of each of:
            <ul>
                <li>Uppercase letter</li>
                <li>Lowercase letter</li>
                <li>Number</li>
                <li>Special character (e.g. '$', '&' or '!')</li>
            </ul>
        </li>
    </ul>

{% endblock %}