{% extends "base.html" %}

{% block navbar %}

    <li><a href="{{ url_for('profile_own') }}" class="active">Profile</a></li>

{% endblock %}

{% block content %}

    <div style="text-align: center;">

        <img src="{{ url_for('avatar', username=profile_username) }}" alt="{{ name or profile_username }}" style="border-radius: 50%; margin-top: 20px">
        <h2>{{ name }}</h2>
        <p>{{ profile_username }}@nuast.org</p>

    </div>

    {% block profile %}{% endblock %}



{% endblock %}