{% extends "base.html" %}

{% block content %}

    <form action="{{ url_for('register_confirm') }}" method="post" class="center">
        <h1>Confirm Registration</h1>
        <p>Set a password to create your new account <b>{{ username }}</b>.</p>
        <p>Your password must meet the criteria listed <a href="{{ url_for('password_criteria') }}" target="_blank">here</a>.</p>
        <p>Your password will be checked against a database of leaked passwords.</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {{ form.hidden_tag() }}

        <p>
            {{ form.password(placeholder="Password") }}
        </p>

        <p>
            {{ form.password_confirm(placeholder="Confirm Password") }}
        </p>

        <p>
            {{ form.submit() }}
        </p>
    </form>

{% endblock %}