{% extends "base.html" %}

{% block content %}

    <h2>Register</h2>
    <p>Enter the code you received via email below to create your account:</p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('register_confirm_code') }}" method="post">
        {{ form.csrf_token }}

        <p>
            {{ form.req_id.label }}
            <br>
            {{ form.req_id }}
        </p>

        <p>
            {{ form.submit() }}
        </p>

    </form>

{% endblock %}