{% extends "base.html" %}

{% block content %}

    <form action="{{ url_for('register') }}" method="post">
        <h1>Register</h1>
        <p>Request an account on the student portal.</p>
        <p>Once you request an account, you will receive an email with a link to confirm your account.</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {{ form.csrf_token }}

        <p>
            {{ form.username(placeholder="4004xxxxYY") }} @ nuast.org
            <i class="fas fa-question-circle tooltip">
                <span class="tooltiptext">This is the same username you use for your school email.</span>
            </i>
        </p>

        <p>
            {{ form.submit() }}
        </p>

        <p>Already have an account? <a href="{{ url_for("login") }}">Sign in</a>
    </form>

{% endblock %}

{% block footer %}

    <p>Having issues registering? <a href="mailto:{{ email_accounts }}">Contact us</a>.</p>

{% endblock %}